<form action="/songs/<%= @song.slug %>" method="post">
  <input type="hidden" name="_method" id="hidden" value="PATCH">

  <h2><label for="Name">Song Name: </label></h2>
  <input type="text" name="song[name]" id="Name" value="<%= @song.name %>">

  <h2>Existing Artists: </h2>
  <caption>Choose an existing artist or create a new artist below:</caption>
  <ul>
    <% for artist in @artists %>
      <li>
        <label for="artist-<%= artist.id %>"><%= artist.name %></label>
        <input type="radio" name="song[artist]" id="artist-<%= artist.id %>" value="<%= artist.id %>" <%= 'checked' if @song.artist.id == artist.id %>>
      </li>
    <% end %>
  </ul>

  <h2><label for="new_artist_name">New Artist Name: </label></h2>
  <input type="text" name="new_artist_name" id="new_artist_name">

  <h2>Genres: </h2>
  <caption>Choose existing genres and/or create a new genre below:</caption>
  <ul>
    <% for genre in @genres %>
      <li>
        <label for="genre-<%= genre.id %>"><%= genre.name %></label>
        <input type="checkbox" name="song[genres][]" id="genre-<%= genre.id %>" value="<%= genre.id %>" <%= 'checked' if !@song.genres.select {|song_genre| song_genre == genre}.empty? %>>
      </li>
    <% end %>
  </ul>

  <h2><label for="new_genre_name">New Genre Name: </label></h2>
  <input type="text" name="new_genre_name" id="new_genre_name">

  <button type="submit" id="Save">Save</button>

</form>
